:root {
  --bg-primary: #ffffff;   /* white background */
  --text-primary: #000000; /* black text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #111111;   /* dark background */
    --text-primary: violet;  /* violet text */
  }
}

body {
  user-select: none;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

.head a, h1 {
  text-align: center;
}
